<!DOCTYPE html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://codeorigin.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="backbone-min.js"></script>
<script src="localStorage-min.js"></script>
<script src="d3-min.js"></script>

<meta charset=utf-8 />
<title>Backbone.js project</title>

<style>
  #todo-list li {
    list-style-type: none;
  }
  #todo-list li.editing .view {
    display: none;
  }
  #todo-list li .edit {
    display: none;
  }
  #todo-list li.editing .edit {
    display: block;
  }
  #todo-list label.completed {
    font-style: italic;
    text-decoration: line-through;
  }

</style>
</head>
<body>
  <!-- <div id="todo"></div> -->

  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <input id="new-todo" placeholder="What needs to be done?" autofocus>
      <button id="redraw-all">Redraw</button>
      <button id="remove-completed">Remove</button>
    </header>
    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as completed</label>
      <ul id="todo-list"></ul>  
    </section>
    <footer id="footer"></footer>
  </section>
  <div id="info">
    <p>Double-click to edit a todo</p>
  </div>
  <div id="force-chart">
  </div>
  
  <script type="text/template" id="item-template">
    <div class="todo" <%= id ? 'data-id="'+id+'"' : '' %> <%= order%>>
      <div class="view">
        <input class="toggle" type="checkbox" <%= completed ? 'checked="checked"': '' %> />
        <label class="<%= completed ? 'completed' : '' %>"><%= title %></label>
      </div>
      <input class="edit" value="<%- title %>">
    </div>
  </script>
  <script>
    // define model
    var Todo = Backbone.Model.extend({
      defaults: {
        title: '',
        completed: false,
        order: 0
      },
      toggle: function() {
        this.save({
          completed: !this.get('completed')
        });
      }
    });
    var TodoList = Backbone.Collection.extend({
      model: Todo,
      localStorage: new Backbone.LocalStorage('todo-backbone'),
      nextOrder: function() {
        if (!this.length) return 1;
        else return this.last().get('order') + 1;
      },
      comparator: function(todo) {
        return todo.get('completed') ? 100+todo.get('order') : todo.get('order');
        // return todo.get('order');
      },
      completed: function() {
        return this.filter(function(todo) {
          return todo.get('completed');
        })
      }
    });

    // Todo Item View
    var TodoView = Backbone.View.extend({
      tagName: 'li',
      template: _.template($('#item-template').html()),
      events: {
        'dblclick label': 'edit',
        'blur .edit': 'close',
        'keypress .edit': 'updateOnEnter',
        'click .toggle': 'toggleCompleted'
      },
      initialize: function() {
        this.listenTo(this.model, 'change', this.render);
      },
      render: function() {
        this.$el.html(this.template(this.model.toJSON()));
        this.$edit = this.$('.edit');
        return this;
      },
      edit: function() {
        this.$el.addClass('editing');
        this.$edit.focus();
      },
      close: function() {
        this.model.set({title: this.$edit.val().trim()});
        // console.log('124');
        this.$el.removeClass('editing');
      },
      updateOnEnter: function() {
        if (event.which === 13) this.close();
      },
      toggleCompleted: function() {
        this.model.toggle();
      }
    });

    // Application View
    var AppView = Backbone.View.extend({
      el: $('#todoapp'),
      // model: Todos,
      events: {
        'keypress #new-todo': 'createOnEnter'
      , 'click #toggle-all': 'toggleAllComplete'
      , 'click #remove-completed': 'removeCompleted'
      , 'click #redraw-all': 'addAll'
      },
      initialize: function() {
        this.allCheckbox = this.$('#toggle-all')[0];
        this.$input = this.$('#new-todo');
        this.$todos = this.$('#todo-list');
        this.$main = this.$('#main');

        this.$todos.sortable({
          update: function(event, ui) {
            $('div.todo',this).each(function(i) {
              var id = $(this).attr('data-id');
              var todo = Todos.get(id);
              todo.save({order: i+1});
            });
          }          
        });

        this.listenTo(Todos, 'add', this.addOne);
        this.listenTo(Todos, 'reset', this.addAll);

        Todos.fetch({reset: true});
      },
      addOne: function(todo) {
        var view = new TodoView({ model: todo });
        this.$todos.append( view.render().el );
      },
      createOnEnter: function(event) {
        if (event.which !== 13 || !this.$input.val().trim()) return;
        var todo = Todos.create({
          title: this.$input.val().trim(), 
          completed: false,
          order: Todos.nextOrder()
        }, {wait:true});
        this.$input.val('');
      },
      addAll: function() {
        this.$todos.html('');
        Todos.each(this.addOne, this);
      },
      toggleAllComplete: function() {
        var completed = this.allCheckbox.checked;
        Todos.each(function(todo) {
          todo.save({
            'completed': completed
          });
        })
      },
      // remove all completed items form the todo list
      removeCompleted: function() {
        // _.invoke(Todos.completed(), 'trigger', ['visible']);
        _.invoke(Todos.completed(), 'destroy');
        this.addAll();
      }
    });

    // Force View
    var ForceView = Backbone.View.extend({
      el: $('#force-chart'),
      model: [],
      svg: [],
      force: [],
      node: [],
      color: [],
      initialize: function() {
        // d3.select("#force-chart")
        // .append("ul")
        // .selectAll("li")
        // .data(Todos.toArray())
        // .enter()
        // .append("li")
        // .text(function(d) {
        //   return d.get('title');
        // });

        this.listenTo(Todos, 'add', this.updateAll);
        this.listenTo(Todos, 'change', this.updateAll);
        this.listenTo(Todos, 'destroy', this.updateAll);

        this.model = Todos.toArray();

        var width = 600, height = 400;
        this.color = d3.scale.category20();

        // define force field
        this.force = d3.layout.force()
          .charge(-350)
          .linkDistance(100)
          .size([width, height]);
          // .nodes(this.model);

        // add svg graph
        this.svg = d3.select("#force-chart")
          .append("svg")
          .attr("width", width)
          .attr("height", height);

        this.updateAll();
        // this.force.start();
      },
      updateAll: function() {
        // add node display
        this.model = Todos.toArray();

        // add nodes 
        var node = this.svg.selectAll(".node")
          .data(this.model)
          .enter()
          .append("g")
          .attr("class", "node")
          .call(this.force.drag);
        node.append("circle");
        node.append("text");

        // remove nodes
        this.svg.selectAll(".node")
          .data(this.model)
          .exit()
          .remove();

        var color = this.color;
        // this.node.append("circle")
        this.svg.selectAll(".node circle")
          .data(this.model)
          .attr("class", "circle")
          .attr("r", function(d) { return 10; })
          .style("fill", function(d) { return color(1); });
          

        // this.node.append("text")
        this.svg.selectAll(".node text")
          .data(this.model)
          .text(function(d) { return d.get('title'); })
          .attr("font-size", function(d) { return 18; })
          .attr("font-style", function(d) { return d.get('completed') ? 'italic' : 'normal'; })
          .attr("text-decoration", function(d) { return d.get('completed') ? 'line-through' : 'normal'; })
          // .attr("visibility", function(d) { return d.get('completed') ? 'hidden' : 'visible'; })
          .attr("transform", function(d) { return "translate(" + 13 + ",3)";});

        var node = this.svg.selectAll(".node");
        this.force.stop();
        this.force.nodes(this.model);
        this.force.on("tick", function() {
          node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
            // .text(function(d) { return d.get('title'); });
        }).start();
      }
    });

    var Todos = new TodoList();
    new AppView();
    new ForceView();
    // Todos.add(new Todo({title: 'go to Duke'}));
    // Todos.add(new Todo({title: 'work on pharmtrac'}));

    // create a todo and update the todo element
    // var todo1 = new Todo({
    //   title: '123'
    // });
    // console.log(todo1.get('title'));
    // todo1.set('title','learn backbone');

    // var todoView = new TodoView({
    //   el: $('#todo'),
    //   model: todo1
    // });
    // todoView.render();

    // var a = new Todo({title: '123'});
    // var b = new Todo({title: '234'});
    // var todos = new TodoList([a,b]);
    // var todosView = new TodosView({
    //   el: $('#todos'),
    //   model: todos
    // });
    // todosView.render();
    // todos.add(new Todo({title: 'todo'}));
    // todosView.render();

  </script>
</body>
</html>